In [5]:
import pandas as pd
import numpy as np

# Load data
df = pd.read_csv("../data/train.csv")

# Nettoyage flash
df = df[['Survived', 'Pclass', 'Sex', 'Age', 'Fare']].copy()

df['Age'] = df['Age'].fillna(df['Age'].median())
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})

In [6]:
df.head()

   Survived  Pclass  Sex   Age     Fare
0         0       3    0  22.0   7.2500
1         1       1    1  38.0  71.2833
2         1       3    1  26.0   7.9250
3         1       1    1  35.0  53.1000
4         0       3    0  35.0   8.0500